body{
    background: #a378f5;

    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    align-items: center;
}

#result {
    display: grid;
    font-family: monospace;
    border-width: 1px;
    border-color: rgb(145, 45, 100);
    place-items: center;
}

span{
    font-weight:  bold;
    justify-content: center;
    color: #b593f4;
}

#header{
position: fixed;
width: 100%;
background: #222;
}

.navbar {
    display: flex;
    justify-content:space-between;
}

.logo {
    height: 50px;
    border-radius: 25px;
}

.logo:hover {
    animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-3px);
    }
}

.nav-items{
    display: flex;
    justify-content: right;
}

.item{
    list-style-type: none;
}

.nav-items li a,
.navbar div span {
    padding: 12px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    align-items: center;
}

.navbar div span{
    font-size: 1.2rem;
    padding: 6% 0 0 0 ;
}

.navbar div a {
    padding: 0;
    margin: 0;
}

.navbar div{
    display: flex;
    justify-content:start;
}

.page-scroll:hover,
.page-scroll:focus {
    outline: 0;
    color: #cab1ff;
    transition: .5s;

}

.active:hover,
.active:focus {
    color: #fff;
    background-color: #5b13e1;
    transition: .5s;
}

.active{
    border-radius: 10px;
    color: #fff;
    background-color: #b593f4;
}

#nav-button{
    display: inline;
    cursor: pointer;
    display: none;
}

.bar1, .bar2, .bar3{
    width: 40px;
    height: 6px;
    background: #fff;
    margin: 6px;
    border-radius: 6px;
    transition: .3s;
}

.onChan .bar1{
    transform: translate(0, 12px) rotate(45deg);
}

.onChan .bar2{
    width: 0;
}

.onChan .bar3{
    transform: translate(0, -12px) rotate(-45deg);
}

.mainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info,
.calcElement {
    margin-top: 60px;
    background-color: #fff;
    border-radius: 25px;
    align-content: center;
}

#left,
#right {
    display: flex;
    align-items: end;
    margin-top: 10px;
    border-radius: 25px;
    flex-direction: column;
    margin: 10px 10px 0 10px;
}

#right{
    align-items: start;
}
.info{
    display: block;
    width: 66.7%;
}

.triangle{
    display: none;
}
.build{
    margin-top: 10px;
    width: 100%;
}
.overflow{
    justify-content: center;
    align-items: center;
}

h2{
    color: #a378f5;
    margin: 5%;
    text-align: center;
}

.info p,
.info li{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    line-height: 1.5;
}
.imgCont{
    text-align: center;
}

.info img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.info li{
    margin-bottom: 10px;
}

.info div{
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%; 
    justify-content: center;
}

.grid div{
    text-align: center;
}

div input{
    border-radius: 10px;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    border-color: #a378f5;
}

div button{
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    border-color: #490bbb;
    color: #fff;
    background-color: #a378f5;
    font-weight: bold;
    max-width: 200px;
}

.grid button{
    margin-top: 13px;
}

div button:hover{
    background-color: #5b13e1;
}


.highlight {
    color:#a378f5; 
    font-weight: bold;
    font-size: 1.5em;
}

.temp{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    width: 100%;
}

#result{
    margin-bottom: 20px;
    overflow: hidden;
}

#result p{
 font-size: 1.2em;
}

.number {
    background-color: #a378f5;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    color: #fff;
}

.rowNumber {
    text-align: center;
    width: 29px;
    height: 29px;
    background: #222;
    border-radius: 50%;
    color: #fff;
    line-height: 2;
    position: relative;
    transition: transform .2s;
}

.rowNumber:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.rowNumberActiveL,
    .rowNumberActiveR  {
        text-align: center;
        width: 60px;
        height: 29px;
        background: #fd0404;
        color: #fff;
        line-height: 2;
        position: relative;
        transition: transform .2s;
        right: 5px;
    }
    
    .rowNumberActiveR  {
        left: 5px;
    }
    
    .rowNumberActiveL::before,
    .rowNumberActiveR::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 14.5px solid transparent;
        border-left: 15px solid #f70505;
        top: 50%;
        left: 100%;
        transform: translateY(-51.5%);
        color: #fd0404;
    }
    
    .rowNumberActiveR::before {
        border-right: 15px solid #f70505;
        border-left: 0;
        left: -25%;
    }
    
    .rowNumberActiveL::after,
    .rowNumberActiveR::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-left: 15px solid #a378f5;
        top: 50%;
        right: 51%;
        transform: translateY(-52.5%);
        color: #a378f5;
    }
    
    .rowNumberActiveR::after {
        border-right: 15px solid #a378f5;
        border-left: 0;
        left: 75%;
    }


.elementActive{
    background-color: #fc8f8f;
    border-radius: 15px;
}
 @media(max-width:920px) {
    .nav-items {
        position: fixed;
        left: 0;
        padding: 0;
        top: 3.8%;
        width: 100%;
        height: 20%;
        flex-direction: column;
        background-color: #222;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 4%;
        transition: .5s;
        transform: translateX(-100%);
        opacity: 85%
    }

    .hideshow{
        transform: translateY(0%);
    }

    .nav-items li {
        margin: 20px 0px 0 0;
    }

    .nav-items li {
        display: block;
    }

    #nav-button{
        display: block;
        margin-right: 5px;
    }

    #header .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .btw {
        flex-direction: column;
    }

    .input label,
    .input input {
        margin-bottom: 10px;
    }
    input{
        width: 40%;
    }
    .btw {
        display: block;
    }
    button{
        width: 40%;
        align-self: center;
    }
    #cbutt{
        width: 70%;
    }
    .info .build .overflow{
        margin-top: 0;
        padding-top: 0;
    }
    .rowNumberActiveL{
        width: 29px;
        border-radius: 10px 0 0 10px;
    }
    .rowNumberActiveR {
        width: 29px;
        border-radius: 0 10px 10px 0;
    }
    .rowNumberActiveR::before {
        border-right: 15px solid #f70505;
        border-left: 0;
        left: -50%;
    }
    .rowNumberActiveR::after {
        border-right: 0;
        border-left: 0;
        left: 75%;
    }
 }

 @media(max-width:920px) {
    
}